body {
    background-color:#EBC85B;
    font-family: Helvetica, Ariel, sans-serif;
}

a {
    text-decoration: none;
    color: #443D2F;
    padding: 5px;
    display: inline;
}

h1,h2,h3  {
    margin: 0;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#header {
    background-color: #554320;
    color: #faf9f6;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px;
}


#nav {
    width:180px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav .selected {
    font-weight: bold;
}

#main {
    width: 600px;
    float: right;
    background-color: #F2EAD1;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: right;
}